<ul class="header-inner clearfix">
    <li id="menu-trigger" data-trigger=".ha-menu" class="visible-xs">
        <div class="line-wrap">
            <div class="line top"></div>
            <div class="line center"></div>
            <div class="line bottom"></div>
        </div>
    </li>

    <li class="hidden-xs">
        <a ng-click="ctx.login()" ng-show="!ctx.isAuthenticated()">Login</a>
    </li>

    <li class="pull-right">
        <ul class="top-menu">
            <li class="menu-readonly m-t-10 c-white f-12" ng-show="ctx.isAuthenticated()">
                {{ctx.account.firstName}}, {{ctx.account.lastName}} ({{ctx.account.login}})
            </li>


            <li class="dropdown" uib-dropdown>
                <a uib-dropdown-toggle href=""><i class="tm-icon zmdi zmdi-chevron-down zmdi-hc-fw"></i></a>
                <ul class="dropdown-menu dm-icon pull-right">
                    <li>
                        <a href="" ng-click="ctx.logout()" id="logout" ng-show="ctx.isAuthenticated()">
                            <i class="zmdi zmdi-lock-outline"></i>
                            <span data-translate="global.menu.account.logout" >Logout</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

<nav class="ha-menu">
    <ul>

        <li class="waves-effect" data-ui-sref-active="active" has-any-authority="ROLE_INSTITUCION,ROLE_MEDICO">
            <a data-ui-sref="paciente" data-ng-click="ctx.sidebarStat($event)">
                <span >Paciente</span>
            </a>
        </li>

        <li class="waves-effect" class="waves-effect" data-ui-sref-active="active" has-any-authority="ROLE_INSTITUCION,ROLE_MEDICO">
            <a data-ui-sref="medico" data-ng-click="ctx.sidebarStat($event)">
                <span >Medico</span>
            </a>
        </li>

        <li class="waves-effect" data-ui-sref-active="active" has-any-authority="ROLE_MEDICO">
            <a data-ui-sref="sintoma" data-ng-click="ctx.sidebarStat($event)">
                <span >Sintoma</span>
            </a>
        </li>

        <li class="waves-effect" data-ui-sref-active="active" has-any-authority="ROLE_INSTITUCION">
            <a data-ui-sref="institucion" data-ng-click="ctx.sidebarStat($event)">
                <span >Institucion</span>
            </a>
        </li>

        <li class="waves-effect" data-ui-sref-active="active" has-any-authority="ROLE_PACIENTE">
            <a data-ui-sref="historia-clinica" data-ng-click="ctx.sidebarStat($event)">
                <span >Historia Clinica</span>
            </a>
        </li>
    </ul>
</nav>
