<h1>
    <%= title %>
</h1>

<h2>Escuchando por WebSocket en el puerto:
    <%= p2p_port %>
</h2>


<script>
    var ws = new WebSocket('ws://localhost:6001');
    var contador = -1;
    ws.onopen = function () {
        console.log('websocket is connected ...')
        document.getElementById("cont").value = contador;
        document.getElementById("cadena").value = "Cadena vacia.";
    }

    ws.onmessage = function (ev) {
        console.log(ev);
        contador++;
        document.getElementById("cont").value = contador;
        document.getElementById("label1").value = "Nuevo bloque recibido.";
        var datos = JSON.parse(ev.data).data;
        if (datos) {
            document.getElementById("cadena").value = datos;

            datos.replace("[", "");
            datos.replace("]", "");
            var datos2 = JSON.parse(datos);
            var datos3 = datos2[0].data.comments;
            var hc = JSON.parse(datos3);

            document.getElementById("pac").value = hc.paciente;
            document.getElementById("med").value = hc.medico;
            document.getElementById("inst").value = hc.institucion;
            document.getElementById("sin").value = hc.sintoma;

        }




    }
</script>

<h1>
    <p id="label1"></p>
    <p>
        <input type="text" id="cont">
    </p>

    <p>
        <textarea id="cadena" rows="5" cols="100">
        </textarea>
    </p>

    <p>
        Paciente: <input type="text" id="pac">
    </p>
    <p>
        Medico: <input type="text" id="med">
    </p>
    <p>
        Institucion: <input type="text" id="inst">
    </p>
    <p>
        Sintoma: <input type="text" id="sin">
    </p>
</h1>